
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: radial-gradient(circle at 81.34% -4.27%, #ef139d 0, #d4129c 12.5%, #b71196 25%, #96108d 37.5%, #740c7f 50%, #53096f 62.5%, #340761 75%, #140653 87.5%, #000047 100%);
    }

    h1 {
      text-align: center;
    }

    form {
      width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #960909;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      background-color: #1515c7;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  
